

html, body {
    max-width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin: 0%;
    height: 100%;
    background-color: rgb(229,229,229);
    padding-bottom: 50px;
}

.container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100%;
}

.reports_header{

    margin-top: 1%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: darkcyan;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Ramaraja', serif;
}


.select_option{

    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}


.selection{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

#logout_button{

   margin-bottom: 10px;
}

#view_button{

    margin-top: 10px;
   
}

#download_button{

    margin-top: 10px;
}

#report_table{
    font-size: 14px;
    overflow-x: scroll;
    margin-top: 20px;
    margin-bottom: 50px;
}

#count_table{

   
    font-size: 11px;
}


table {
    width: 100%;
  }
  
  th {
    height: 50px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  td{
      padding: 5px;
      text-align: center;
  }




/* ---------- Main Footer ------------ */

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    padding: 5px;
    background:#00314F;
 }

.footer_table tr td p{
    text-align: center;
    color: white;
    font-size: 10px;;
    line-height: 1.45em;
    font-family: Verdana;
}

.footer_table tr td img{
   
    vertical-align: middle;
    width: 50%;
    height: auto;
}

.footer_table{
    max-width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}


